@model List<BookListViewModel>

<html>
<head>
    <style>
        .dropdown-right {
            float: right;
            margin-right: 35px; /* Sağdan boşluk */
            margin-top: 30px; /* Üstten boşluk */
        }


        .dropdown-menu {
            right: 0;
            left: auto;
        }

        html, body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            overflow-x: hidden; /* Yatay kaydırmayı engeller */
        }

    </style>
</head>

<body>
    @if (User.Identity.IsAuthenticated)
    {
        <a asp_controller="Book" asp-action="Add" class="btn btn-primary">Yeni Kitap Ekle</a>
    }
    <div class="dropdown dropdown-right " style="margin-top: 45px;">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Filtre
        </button>
        <ul class="dropdown-menu">
            <li><a asp-controller="Book" asp-action="NameFilter" class="dropdown-item">İsme Göre Sırala</a></li>
            <li><a asp-controller="Book" asp-action="AuthorFilter" class="dropdown-item">Yazara Sırala</a></li>
            <li><a asp-controller="Book" asp-action="GenreFilter" class="dropdown-item" >Türe Göre Sırala</a></li>
            <li><a asp-controller="Book" asp-action="Index" class="dropdown-item">Tümü</a></li>
        </ul>
    </div>
    

    <div class="container mt-5">
        <div class="row">
            @foreach (var book in Model)
            {
                <div class="col-md-3 mb-4">
                    <div class="card" style="width: 14rem;">
                        <img src="https://www.dinamikegitim.com/tema/genel/uploads/haberler/kitaplar-696x435.jpg" class="card-img-top" alt="@book.Title"> 
                        <div class="card-body">
                            <h5 class="card-title">@book.Title</h5> 
                            <p class="card-text">
                                @book.AuthorName
                                @book.GenreName
                            </p>
                            <a asp_controller="Book" asp-action="Detail" asp-route-id="@book.Id" class="btn btn-primary btn-sm">Detaylar</a>
                            
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>